body{
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
*{
    margin: 0%;
}
#continuar{
    font-size: 20vh;
}
.botao{
    border-radius: 5vh;
    margin-top: 10vh;
    width: 9vh;
    font-size: 5vh;
    background: linear-gradient( black,rgb(0, 68, 255), rgba(0, 183, 255, 0.801));
    border-style: none;
}
.nome{
    background: linear-gradient( rgba(0, 183, 255, 0.801),rgb(0, 68, 255), black);
    border-radius: 100px;
    height: 90vh;
    width: 70vh;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

